---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/bills?apikey=2a92fee9d78f4fddbe5d9e14f3632465&sponsor_id=K000360
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"bill_id":"s628-114","bill_type":"s","chamber":"senate","committee_ids":["SSHR"],"congress":114,"cosponsors_count":1,"enacted_as":null,"history":{"active":false,"awaiting_signature":false,"enacted":false,"vetoed":false},"introduced_on":"2015-03-03","last_action_at":"2015-03-03","last_version_on":"2015-03-03","last_vote_at":null,"number":628,"official_title":"A
        bill to amend the Public Health Service Act to provide for the designation
        of maternity care health professional shortage areas.","popular_title":null,"related_bill_ids":[],"short_title":null,"sponsor":{"first_name":"Mark","last_name":"Kirk","middle_name":"Steven","name_suffix":null,"nickname":null,"title":"Sen"},"sponsor_id":"K000360","urls":{"congress":"http://beta.congress.gov/bill/114th/senate-bill/628","govtrack":"https://www.govtrack.us/congress/bills/114/s628","opencongress":"https://www.opencongress.org/bill/s628-114"},"withdrawn_cosponsors_count":0},{"bill_id":"s575-114","bill_type":"s","chamber":"senate","committee_ids":["SSJU"],"congress":114,"cosponsors_count":3,"enacted_as":null,"history":{"active":false,"awaiting_signature":false,"enacted":false,"vetoed":false},"introduced_on":"2015-02-25","last_action_at":"2015-02-25","last_version_on":"2015-02-25","last_vote_at":null,"number":575,"official_title":"A
        bill to continue operation of the Human Exploitation Rescue Operative (HERO)
        Child Rescue Corps, a Cyber Crimes Cente[...]
