---
http_interactions:
- request:
    method: get
    uri: http://transparencydata.com/api/1.0/aggregates/pol/4d86ffd297c84c059577c0afe4f8d0ee/contributors.json?apikey=a715862097854379bd7b29f8f05540b7&cycle=2014&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"employee_amount": "15900.00", "total_amount": "21400.00", "total_count":
        "19", "name": "Land O''Lakes", "direct_count": "3", "employee_count": "16",
        "id": "f4af559f1a6c41208cdc918f689e9986", "direct_amount": "5500.00"},{"employee_amount":
        "16100.00", "total_amount": "16100.00", "total_count": "7", "name": "Black,
        Mann & Graham", "direct_count": "0", "employee_count": "7", "id": "b746a5d4437d4366ad721ccda9ddc6bc",
        "direct_amount": "0"},{"employee_amount": "9250.00", "total_amount": "10250.00",
        "total_count": "10", "name": "Cook Group", "direct_count": "1", "employee_count":
        "9", "id": "b3bb4dbfb1284867821d3897d63d687d", "direct_amount": "1000.00"},{"employee_a[...]
