---
http_interactions:
- request:
    method: get
    uri: http://transparencydata.com/api/1.0/aggregates/pol/048563d4685b4fcab08889881f066fff/contributors.json?apikey=2a92fee9d78f4fddbe5d9e14f3632465&cycle=2014&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"employee_amount": "52000.00", "total_amount": "52000.00", "total_count":
        "20", "name": "Highfields Capital Management", "direct_count": "0", "employee_count":
        "20", "id": "99b650eef8754632875aa335bec42ab0", "direct_amount": "0"},{"employee_amount":
        "49671.00", "total_amount": "49671.00", "total_count": "48", "name": "NorPAC",
        "direct_count": "0", "employee_count": "48", "id": "1aa6c659d644411a92f2cf74f127a17e",
        "direct_amount": "0"},{"employee_amount": "27450.00", "total_amount": "29450.00",
        "total_count": "35", "name": "Exelon Corp", "direct_count": "2", "employee_count":
        "33", "id": "f4b3fc320fc64c96910ea583311b22ac", "direct_amount": "2000.00"},{"employee_amount":
       [...]
