<h1>Accountabill</h1>
<p></p>

<form action="/" method="post" id="zip-search-form">
  <input type="text" value="60601">
  <input type="submit" value="push-it">
</form>

<div id="result-view">
</div>

<div id="search-container">
</div>
