<h1>Accountabill</h1>
<p></p>

<form action="/" method="get" id="zip-search-form">
  <input type="text" value="60601">
  <input type="submit">
</form>

<div id="result-view">
</div>

<div id="search-container">
</div>
