<div class="large-text-center"><h1 id="front-page-header">Accountabill</h1></div>


<div class="large-text-center"><p>Explanation text goes here</p></div>

<div class="row">
  <div class="large-3 large-offset-4 columns">
    <form action="/" method="get" id="zip-search-form">
      <input id="#search-field" type="text" value="60601"> 
  </div>
      <input type="submit" value="Search" class="large-1 columns button tiny round end">
    </form>
</div>

<div id="results-view"></div>

<div class="row">
  <div class="large-4 large-offset-4 columns end"></div>
  <div id="search-container"></div>
</div>
