<div class="large-text-center"><h1>Accountabill</h1></div>


<div class="large-text-center"><p>Explination text goes here</p></div>
<div class="row">
  <div class="large-6 large-centered column">    
    <form action="/" method="get" id="zip-search-form">
      <input type="text" value="60601">
      <input type="submit" class="button tiny round right inline" value="Search">
    </form>
  </div>
</div>


<div class="row">
  <div class="large-4 large-centered columns">  
    <div id="results-view"></div>
  </div>
</div>

<div class="row">
  <div class="large-4 large-centered columns">  
    <div class="large-text-center"><div id="search-container"></div></div>
  </div>
</div>
