<div class="large-text-center"><h1>Accountabill</h1></div>


<div class="large-text-center"><p>Explination text goes here</p></div>
<div class="row">
  <div class="large-4 large-centered column">    
    <form action="/" method="get" id="zip-search-form">
      <input type="text" value="60601">
      <input type="submit" class="button tiny round">
    </form>
  </div>
</div>


<div class="row">
  <div class="large-4 large-centered columns">  
    <div id="result-view"></div>
  </div>
</div>

<div class="row">
  <div class="large-4 large-centered columns">  
    <div id="search-container"></div>
  </div>
</div>
