<div class="large-text-center">
  <h1 id="front-page-header">Accountabill</h1>
  <p>Shining a light on political contributions</p>
</div>

<div class="large-text-center">
  <p>Enter a zipcode to find your representatives, or enter a politician or company to search by name</p>
</div>

<div class="row">
  <div class="large-3 large-offset-4 columns">
    <form action="/" method="get" id="zip-search-form">
      <input id="#search-field" type="text" placeholder="Example: 60601 OR Mark Kirk">
  </div>
      <input type="submit" value="Search" class="large-1 columns button tiny round end">
    </form>
</div>

<div id="results-view"></div>

<div id="search-container" class="small-6 large-centered columns">

</div>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>

<footer>
  <div class="">
    <h3>Powered By:</h3><br>
    <a href="http://sunlightfoundation.com/"><img src="https://pscl.sunlightfoundation.com/static/img/sunlight.png"/></a>
  </div>
  <div class="">
    <h3>About Us</h3>
    <p>We are a group of five aspiring Web Developers out of DevBootcamp Chicago who created Accountabill with the hope that it will help educate voters about where the funding for their federal representatives is coming from.</p>
  </div>
</footer>
