
<div class="large-text-center">
  <h1 id="front-page-header"><img src="/Accountabill_Logo.png" alt="Accountabill logo"></h1>
  <p>Shining a light on political contributions</p>
</div>

<div class="large-text-center">
  <p>Enter a zipcode to find your representatives, or enter a politician or company to search by name</p>
</div>

<div class="row">
  <div class="large-3 large-offset-4 columns">
    <form action="/" method="get" id="zip-search-form">
      <input id="search-field" type="text" placeholder="Example: 60601 OR Mark Kirk">
  </div>
      <input type="submit" value="Search" class="large-1 columns button tiny round end">
    </form>
</div>

<div id="results-view"></div>

<div id="search-container" class="small-6 large-centered columns">

</div>
