/**********HEADER**********/

#front-page-header{
  margin-top: 10%;
  font-size: 5em;
  transition: margin-top 2s;
  font-family: 'Josefin Sans', sans-serif;

  h3 {
    margin: 0;
    }
  // text header
  a {
    color: #142525;
    }
  // logo header
  img {
    max-width: 60%;
    min-width: 200px;
    }
  }


/**********BODY**********/

body{
  background: #fff;
  font-family: 'Droid Sans', sans-serif;
  color: #142525;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif;
  color: #142525;
}

/**********SEARCH**********/

#search-container{
  background-color: #F4F2F3;
  padding-bottom: 15px;
  border: 2px solid #F4F2F3;
  border-radius: 25px;
  padding: 1em;
  display: none;
}

.result-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
