/**********HEADER**********/

#front-page-header{
  margin-top: 10%;
  font-size: 5em;
  transition: margin-top 2s;
}

/**********BODY**********/

#search-container{
  background-color: #F4F2F3;
  padding-bottom: 15px;
  border: 2px solid #F4F2F3;
  border-radius: 25px;
  padding: 1em;
  display: none;
}

body{
  background: #fff;
  font-family: 'Droid Sans', sans-serif;
  color: #142525;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif;
  color: #142525;
}

