#sunlight-logo, #about-us, #take-action{
  width: 30%;
  float: left;
  text-align: center;
}

#footer img {
  max-width: 75%;
}

/*stick footer*/
#wrapper {
    min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 150px;
}

#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-left: 5%;
}
/**/
