<div class="row">
	<img src="https://placekitten.com/g/225/225" class="large-4 columns">
	<div class="large-8 columns">
		<div class="row">
		<h2 class="large-centered columns"> <%=firstname%> (Party)</h2>
		</div>
		<div class="row">
			<p>Politician bio ipsum</p>
		</div>
	</div>
</div>
<div class="row">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel1a">Chart 1</a>
      <div id="panel1a" class="content active">
  			<p>Chart Goes Here!</p>
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel2a">Chart 2</a>
      <div id="panel2a" class="content">
      	<p>Chart Goes Here!</p>
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel3a">Chart 3</a>
      <div id="panel3a" class="content">
        <p>Chart Goes Here!</p>
      </div>
    </li>
  </ul>
</div>
