/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_tree ./globals
 *= require_tree ./sections
 *= require_tree ./components
 *= require_self

 */

.search-state, .search-name, .search-type{
  display: inline-block;
  width: 24%;
}
.search-name {
  width: 50%;
  text-align: center;
}

.search-type{
  text-align: right;
}

.result-text{
  margin-top: 6%;
}

.search-results {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.politician-result{
  background: #fff;
  margin: 0.3% 0;
  border-radius: 3px;
}

.politician-result img{
  width: 15%;
  margin: 1%;
}

.politician-result:hover {
  background: #E0ECFF;
}

#hide-bio {
  display: none;
}

.tooltip {                                                        
  background: #333;                                               
  box-shadow: 0 0 5px #999999;                                    
  color: white;                                                    
  display: none;                                                  
  font-size: 12px;                                                
  left: 130px;                                                    
  padding: 10px;                                                  
  position: absolute;                                             
  text-align: center;                                             
  top: 80px;                                                      
  width: 250px;                                                    
  z-index: 10;

  word-wrap: break-word;                          
} 

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

rect {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
rect:hover{
  fill: #257067;
}                                                 

#chart{
  margin: 0 auto;
}                                      
.bullet { 
  font: 10px sans-serif; 
}

.bullet .marker { 
  stroke: #000; stroke-width: 2px; 
}

.bullet .tick line { 
  stroke: #666; stroke-width: .5px; 
}

.bullet .range.s0 { 
  fill: #eee; 
}

.bullet .range.s1 { 
  fill: #ddd; 
}

.bullet .range.s2 { 
  fill: #ccc; 
}

.bullet .measure.s0 { 
  fill: lightsteelblue; 
}

.bullet .measure.s1 { 
  fill: steelblue; 
}

.bullet .title { 
  font-size: 14px; font-weight: bold; 
}

.bullet .subtitle { 
  fill: #999; 
}

