/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_tree ./globals
 *= require_tree ./sections
 *= require_tree ./components
 *= require_self

 */

.search-state, .search-name, .search-type{
  display: inline-block;
  width: 24%;
}
.search-name {
  width: 50%;
  text-align: center;
}

.search-type{
  text-align: right;
}

.result-text{
  margin-top: 6%;
}

.search-results {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.politician-result{
  background: #fff;
  margin: 0.3% 0;
  border-radius: 3px;
}

.politician-result img{
  width: 15%;
  margin: 1%;
}

.politician-result:hover {
  background: #E0ECFF;
}

#hide-bio {
  display: none;
}
