/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self

 */
body{
  background: #E8FFFE;
  font-family: 'Josefin Sans', sans-serif; 
}

body h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif; 
  color: #142525;
}

#front-page-header{
  margin-top: 10%;
  font-size: 5em;
  transition: margin-top 2s;
}

#search-container{
  background-color: #F4F2F3;
  padding-bottom: 15px;
  border: 2px solid #F4F2F3;
  border-radius: 25px;
  padding: 1em;
  /*display: none;*/
}

.search-results {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.politician-result{
  background: #fff;
  margin: 0.3% 0;
  border-radius: 3px;
}

.politician-result img{
  width: 15%;
  margin: 1%;
}

.politician-result:hover {
  background: #E0ECFF;
}

#hide-bio {
  display: none;
}

.tooltip {                                                        /* NEW */
  background: #eee;                                               /* NEW */
  box-shadow: 0 0 5px #999999;                                    /* NEW */
  color: #333;                                                    /* NEW */
  display: none;                                                  /* NEW */
  font-size: 12px;                                                /* NEW */
  left: 130px;                                                    /* NEW */
  padding: 10px;                                                  /* NEW */
  position: absolute;                                             /* NEW */
  text-align: center;                                             /* NEW */
  top: 80px;                                                      /* NEW */
  width: 80px;                                                    /* NEW */
  z-index: 10;                                                    /* NEW */
}                                                 

#chart{
  margin: 0 auto;
}                                      
.bullet { 
  font: 10px sans-serif; 
}

.bullet .marker { 
  stroke: #000; stroke-width: 2px; 
}

.bullet .tick line { 
  stroke: #666; stroke-width: .5px; 
}

.bullet .range.s0 { 
  fill: #eee; 
}

.bullet .range.s1 { 
  fill: #ddd; 
}

.bullet .range.s2 { 
  fill: #ccc; 
}

.bullet .measure.s0 { 
  fill: lightsteelblue; 
}

.bullet .measure.s1 { 
  fill: steelblue; 
}

.bullet .title { 
  font-size: 14px; font-weight: bold; 
}

.bullet .subtitle { 
  fill: #999; 
}
