<h1>Accountabill</h1>
<p></p>

<%=form_for nil do |f|%>
  <%= f.label :search %>
  <%= f.text  :search %>
<%end%>

<div id="result-view">
</div>

<div id="search-container">
  <div id="search-results">
  </div>
</div>
